<div class="outer">
    <div class="middle">
        <div class="inner">

            <div class="trackContainer">

                <div class="track" ng-repeat="soundTrack in soundTracks">
                    <a href="{{'http://wscvideoswestus.blob.core.windows.net/soundtracks-full/'+soundTrack.File+'.mp3'}}">
                        <img ng-src="{{'http://az416917.vo.msecnd.net/soundtracks-images/'+soundTrack.File+'.jpg'}}"> <br/>
                        {{soundTrack.Composer}} <br/>
                        {{soundTrack.Title}}
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>